<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if current_user %>
      <p>Hello, <%= current_user.email %></p>
      <%= button_to "Log out", session_url, method: :delete %>
    <% else %>
      <%= button_to "Log in", new_session_url, method: :get %>
      <%= button_to "Sign up", new_user_url, method: :get %>
    <% end %>

    <%= yield %>
  </body>
</html>
